.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
}

.p-circle:first-child {
  background-color: #eb0a1c;
}

.p-circle:nth-child(2) {
  background-color: #ffbf0f;
}

.p-circle:last-child {
  background-color: #00d446;
}

.p-img {
  width: 100%;
  transition: all 8s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}
